!!!
%html{lang: 'ja'}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no", :name => "viewport"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}

    %title= current_page.data.title || data.config.title

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/riot/2.6.7/riot+compiler.min.js", "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js", "https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.5.1/pikaday.min.js"
    = javascript_include_tag :all

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    = stylesheet_link_tag 'https://fonts.googleapis.com/earlyaccess/notosansjapanese.css', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 'https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.5.1/css/pikaday.min.css'
    = stylesheet_link_tag :styles

  %body{:class => page_classes}

    .container.m-t-1
      .row
        .col-xs-12.col-sm-12
          = yield
